<div class="workspace-header">
  <h2 class="title">WORKSPACE</h2>

  <div class="tab-buttons" *ngIf="isgraphCreated">
    <button
      [class.active]="activeTab === 'graph'"
      (click)="switchTab('graph')"
      class="tab-btn">
      <i class="fa-solid fa-diagram-project me-2"></i>Graph
    </button>
    <button
      [class.active]="activeTab === 'data'"
      (click)="switchTab('data')"
      class="tab-btn">
      <i class="fa-solid fa-database me-2"></i> Data
    </button>
  </div>

  <div class="user-profile">
    <span class="profile-icon" (click)="toggleDropdown()"><i class="fa-solid fa-user"></i></span>

    <div class="dropdown-menu" *ngIf="isDropdownOpen">
      <a routerLink="/" class="dropdown-item" (click)="closeDropdown()">
        <span class="icon">🏠</span>
        <span>Anasayfaya Dön</span>
      </a>
      <a routerLink="/user/dashboard" class="dropdown-item" (click)="closeDropdown()">
        <span class="icon">📊</span>
        <span>Kullanıcı Arayüzüne Dön</span>
      </a>
      <button type="button" class="dropdown-item" (click)="requestReset()">
        <span class="icon">🆕</span>
        <span>Yeni Graph Oluştur</span>
      </button>
    </div>
  </div>
</div>
