<div class="workspace-header">
   <!-- Workspace Dropdown -->
  <div class="workspace-menu">
      <button
        class="btn workspace-dropdown-btn"
        (mouseenter)="showDropdown($event)"
        (mouseleave)="hideDropdown()">
        <i class="fa-solid fa-gear me-2"></i>
        Workspace
        <i class="fa-solid fa-circle-chevron-down ms-2"></i>
      </button>

      <ul class="workspace-dropdown" *ngIf="isWorkspaceMenuOpen"
        [style.top]="dropdownPosition.top"
        [style.left]="dropdownPosition.left"
        (mouseenter)="keepDropdownOpen()"
        (mouseleave)="hideDropdown()"
      >
        <li>
          <button class="dropdown-item" (click)="manageGraphs()">
            <i class="fa-solid fa-diagram-project"></i>
            Manage Graphs
          </button>
        </li>
        <li>
          <button class="dropdown-item" (click)="saveWorkspace()">
            <i class="fa-solid fa-floppy-disk me-2"></i>
            Save Workspace
          </button>
        </li>
      </ul>
  </div>
  <div class="tab-buttons" *ngIf="isgraphCreated">
    <button
      [class.active]="activeTab === Tabs.Graph"
      (click)="switchTab(Tabs.Graph)"
      class="tab-btn">
      <i class="fa-solid fa-diagram-project me-2"></i>Graph
    </button>
    <button
      [class.active]="activeTab === Tabs.Data"
      (click)="switchTab(Tabs.Data)"
      class="tab-btn">
      <i class="fa-solid fa-database me-2"></i>
    </button>
  </div>
  <div class="section d-flex gap-2">
    <button *ngIf="isAlgoResultExist" [class.active]="activeTab === Tabs.AlgoResult "
    class="btn algo-result" (click)="switchTab(Tabs.AlgoResult)">
     <i class="fa-regular fa-eye me-2"></i>View Algorithm Results
    </button>
  </div>

</div>
