.graph-container {
  width: 100%;
  height: 800px; /* IMPORTANT */
  border: 1px solid #ddd;
  background: rgb(255, 255, 255);
}

.graph-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.graph-rerender{
  display: block;
  position: absolute;
  bottom: 12px;
  right: 20px;
  z-index: 10;
  padding: 8px;
  border-radius: 6px;
  background: rgba(237, 237, 237, 0.85);
  border: none;
  padding: 6px 10px;
  color: rgb(35, 20, 119);
  cursor: pointer;
}
.graph-rerender:hover{
  background: rgb(35, 20, 119);
  color: #ffff;

}
/* Toolbar overlay */
.graph-toolbar {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 10;

  display: flex;
  gap: 8px;
  padding: 8px;
  border-radius: 6px;
}

.graph-toolbar button {
  color: rgb(35, 20, 119);
  background: rgba(237, 237, 237, 0.85);
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.graph-toolbar .add-edge:hover{
    background:rgb(35, 20, 119);
    color:#ffff
}

.graph-toolbar button.active {
  background:rgb(35, 20, 119);
  color:#ffff
}

.graph-node{
  display: block;
  position: absolute;
  top: 30%;
  right: 18px;
  z-index: 10;
  border-radius: 8px;
  background: rgba(237, 237, 237, 0.85);
  color: rgb(35, 20, 119);
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

.graph-node:hover {
  color: #ffff;
  background: rgb(35, 20, 119);
}
