<aside class="workspace-sidebar">
  <!-- Graph Tag Section with Side Dropdown -->
  <div class="sidebar-section">
    <button
      class="graph-tag-btn"
      (mouseenter)="showDropdown($event)"
      (mouseleave)="hideDropdown()">
      <span class="left">
        <i class="fa-solid fa-diagram-project"></i>
      </span>

      <span class="center">
        {{ graphTitle$ | async }}
      </span>

      <span class="right">
        <i class="fa-solid fa-chevron-right"></i>
      </span>
    </button>

    <!-- Side Dropdown Menu -->
    <div
      class="graph-dropdown"
      *ngIf="showGraphDropdown"
      [style.top]="dropdownPosition.top"
      [style.left]="dropdownPosition.left"
      (mouseenter)="keepDropdownOpen()"
      (mouseleave)="hideDropdown()">
      <!-- Graf İşlemleri -->
      <button class="dropdown-item" (click)="openEditGraph()">
        <span class="graph-icon">✏️</span>
        <span>Edit</span>
      </button>
      <button class="dropdown-item" (click)="export()">
        <span class="graph-icon">📤</span>
        <span>Export</span>
      </button>
      <button class="dropdown-item" (click)="openSummary()">
        <span class="graph-icon">ℹ️</span>
        <span>Summary </span>
      </button>
      <button class="dropdown-item" (click)="clearGraphFields()">
        <span class="graph-icon">🗑️</span>
        <span>Clear</span>
      </button>

    </div>
  </div>

  <!-- Data Operation Section -->
  <div class="sidebar-section">
    <div class="section-title">Data Operations</div>

    <!-- Node -->
    <button class="section-header sub-header" (click)="toggleSection('node')">
      <span>Node</span>
      <span class="arrow">
         <i class="fa-solid"
         [class.fa-chevron-right]="!isNodeExpanded"
         [class.fa-chevron-down]="isNodeExpanded">
          </i>
      </span>
    </button>
    <div class="section-content" *ngIf="isNodeExpanded">
      <button class="action-btn" (click)="onAction('node-add')">Add Node</button>
    </div>

    <!-- Edge -->
    <button class="section-header sub-header" (click)="toggleSection('edge')">
      <span>Edge</span>
      <span class="arrow">
         <i class="fa-solid"
            [class.fa-chevron-right]="!isEdgeExpanded"
            [class.fa-chevron-down]="isEdgeExpanded">
          </i>
      </span>
    </button>
    <div class="section-content" *ngIf="isEdgeExpanded">
      <button class="action-btn" (click)="onAction('edge-add')">Ekle</button>
      <button class="action-btn" (click)="onAction('edge-delete')">Sil</button>
    </div>
  </div>
  <hr/>
  <!-- Algorithms Section -->
  <div class="sidebar-section algorithms">

    <div class="algorithm-section">
      <h4 class="section-title">
        <i class="bi bi-diagram-3"></i>
        Traversal
      </h4>

      <button
        class="action-btnf"
        *ngFor="let algo of getAlgorithmsByCategory(categories.Traversal)"
        (click)="selectAlgorithm(algo)"
        [class.active]="selectedAlgorithm?.key === algo.key">
        <i class="bi bi-arrow-repeat"></i>
        {{ algo.label }}
      </button>
    </div>
    <hr class="algo-separator" />

    <div class="algorithm-section">
      <h4 class="section-title">
        <i class="bi bi-signpost-2"></i>
        Pathfinding
      </h4>

      <button
        class="action-btnf"
        *ngFor="let algo of getAlgorithmsByCategory(categories.Pathfinding)"
        (click)="selectAlgorithm(algo)"
        [class.active]="selectedAlgorithm?.key === algo.key">
        <i class="bi bi-geo-alt"></i>
        {{ algo.label }}
      </button>
    </div>
    <hr class="algo-separator" />

    <div class="algorithm-section">
      <h4 class="section-title">
        <i class="bi bi-bar-chart"></i>
        Node Importance
      </h4>

      <button
        class="action-btnf"
        *ngFor="let algo of getAlgorithmsByCategory(categories.Centrality)"
        (click)="selectAlgorithm(algo)"
        [class.active]="selectedAlgorithm?.key === algo.key">
        <i class="bi bi-graph-up"></i>
        {{ algo.label }}
      </button>
    </div>
    <hr class="algo-separator" />

    <div class="algorithm-section">
      <h4 class="section-title">
        <i class="bi bi-collection"></i>
        Clustering
      </h4>

      <button
        class="action-btnf"
        *ngFor="let algo of getAlgorithmsByCategory(categories.Clustering)"
        (click)="selectAlgorithm(algo)"
        [class.active]="selectedAlgorithm?.key === algo.key">
        <i class="bi bi-palette"></i>
        {{ algo.label }}
      </button>
    </div>

  </div>
</aside>
