<div class="dashboard">

  <!-- Statistics -->
  <section class="stats-cards">
    <div class="stat-card" style="background-color: darkcyan;">
      <span class="label" style="color: white;">Graphs</span>
      <span class="value">{{ stats.totalGraphs }}</span>
    </div>

    <div class="stat-card" style="background-color: burlywood;">
      <span class="label">Nodes</span>
      <span class="value">{{ stats.totalNodes }}</span>
    </div>

    <div class="stat-card" style="background-color: aquamarine;">
      <span class="label">Edges</span>
      <span class="value">{{ stats.totalEdges }}</span>
    </div>
  </section>

  <!-- Main -->
  <section class="dashboard-main">

    <!-- Current Graph -->
    <div class="current-graph">
      <h2>Current Graph</h2>

      <div class="graph-card primary" *ngIf="currentopenedGraph; else noGraph">
        <h3>{{ currentopenedGraph.title }}</h3>
        <p class="muted">{{ currentopenedGraph.description }}</p>

        <div class="meta">
          <span>{{ currentopenedGraph.order }} nodes</span>
          <span>{{ currentopenedGraph.size }} edges</span>
        </div>

        <a class="btn primary" routerLink="/workspace">Go to workspace</a>
      </div>

      <ng-template #noGraph>
        <div class="empty-card">
          <p>No graph is currently open</p>
        </div>
      </ng-template>
    </div>

    <!-- Recent Graphs -->
    <div class="recent-graphs">
      <h2>Recently Opened</h2>

      <div class="recent-grid" *ngIf="recentOpenedGraphs">
        <div
        class="graph-card"
        *ngFor="let graph of recentOpenedGraphs | slice:0:3"

        >
          <h4>{{ graph.title }}</h4>

          <div class="meta small">
            <span>{{ graph.order }} nodes</span>
            <span>{{ graph.size }} edges</span>
          </div>

          <button class="btn ghost" onclick="resume(graph.id)">Resume</button>
        </div>
      </div>
    </div>

  </section>
</div>
