<nav class="navbar">
  <div class="container">
    <a routerLink="/" class="logo">
      <span class="logo-icon">📊</span>
      <span class="logo-text">SNA Platform</span>
    </a>

    <button class="menu-toggle" (click)="toggleMenu()" [class.active]="isMenuOpen">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class="nav-links" [class.active]="isMenuOpen">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-house me-2"></i>Home</a></li>
      <li><a routerLink="/features" routerLinkActive="active">Features</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      @if (isLoggedIn) {
        <li><a routerLink="/workspace" class="btn-workspace">🚀 Workspace</a></li>
        <li><a (click)="logout()" class="btn-logout "><i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out</a></li>
      } @else {
        <li><a routerLink="/login" class="btn-login"> <i class="fa fa-user"></i> Login</a></li>
        <li><a routerLink="/register" class="btn-register">Register</a></li>
      }
    </ul>
  </div>
</nav>
